@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Sans');


.loginbanner h1 {
  font-family: 'Francois One', sans-serif;
  text-align: center;
  color: #595959;
  font-size: 12em;
  margin-top: -30px;
  margin-bottom: 0
}

.loginbanner h2 {
  font-family: 'Francois One', sans-serif;
  text-align: center;
  color: #595959;
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 10px;
  font-style: bold;

}

.loginsub-title {
  margin-top: 10;
  font-size: 30px;
}

.loginbanner img {
width: 14%;
}

.logintopnav a {
    color: #a6a6a6;
    text: right;
    font-family: 'Francois One', sans-serif;
    text-decoration: none;
    font-size: 30px;

}

.logintopnav {
    background-color: #f2f2f2;
    overflow: hidden;
        text-align: left;
        text-indent: 10px;
}
