@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Sans');

label
{
  font-family: 'Francois One', sans-serif;
  color: #595959;
}


input[type=email], select {
    width: 10%;
    padding: 5px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=password] {
      width: 10%;
      padding: 5px 20px;
      margin: 2px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
}
